<div class="page-root">
  <div class="panel">
    <div class="card-inner">
      <h2 class="title">Tablero de predicción de fraudes</h2>

      <!-- Batch Prediction-->
      <section>
        <div class="section-title mb-3">
          <strong>Simulación Batch</strong>
        </div>

        <div class="row g-3 align-items-center">
          <!-- Label -->
          <div class="col-auto">
            <label for="batchCount" class="col-form-label">
              Cantidad de transacciones
            </label>
          </div>

          <!-- Input -->
          <div class="col-auto">
            <input
              id="batchCount"
              type="number"
              class="form-control"
              min="1"
              style="width: 120px"
              [(ngModel)]="batchCount"
              name="batchCount"
            />
          </div>

          <!-- Button execute batch prediction -->
          <div class="col-auto">
            <button
              class="btn btn-outline-secondary"
              (click)="getTransactions(batchCount)"
            >
              Simular Batch
            </button>
          </div>
        </div>

        <div class="mt-2">
          @if(batchResults.summary) {
          <h6 class="mb-2">Resultados Batch</h6>
          <table
            border="1"
            cellpadding="8"
            cellspacing="0"
            style="
              border-collapse: collapse;
              margin: 20px auto;
              width: 60%;
              text-align: center;
              font-family: Arial, sans-serif;
              background-color: #f9f9f9;
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            "
          >
            <thead style="background-color: #434443; color: white">
              <tr>
                <th>Métrica</th>
                <th>Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Total de transacciones</td>
                <td>{{ batchResults?.summary?.total_transactions }}</td>
              </tr>
              <tr>
                <td>Fraudes detectados</td>
                <td>{{ batchResults?.summary?.frauds_detected }}</td>
              </tr>
            </tbody>
          </table>

          @if (batchResults?.summary?.fraud_transactions?.length > 0) {
          <table
            style="border-collapse: collapse; width: 100%; text-align: center"
          >
            <thead>
              <tr>
                <th
                  colspan="6"
                  style="
                    text-align: center;
                    font-size: 1.2rem;
                    padding: 10px;
                    background-color: #f0f0f0;
                  "
                >
                  Transacciones con características de fraude 🚨
                </th>
              </tr>
              <tr>
                <th style="padding: 8px; min-width: 120px">Trans. ID</th>
                <th style="padding: 8px; min-width: 80px">Step</th>
                <th style="padding: 8px; min-width: 120px">Monto</th>
                <th style="padding: 8px; min-width: 120px">Tipo</th>
                <th style="padding: 8px; min-width: 140px">Probabilidad</th>
                <th style="padding: 8px; min-width: 120px">Predicción</th>
              </tr>
            </thead>
            <tbody>
              @for (item of batchResults?.summary.fraud_transactions; track
              item.transaction_raw.TransactionID) {
              <tr>
                <td>{{ item.transaction_raw.TransactionID }}</td>
                <td>{{ item.transaction_raw.step }}</td>
                <td>{{ item.transaction_raw.amount | number : "1.2-2" }}</td>
                <td>
                  @if (item.transaction_features.type_CASH_OUT) { CASH_OUT }
                  @else if (item.transaction_features.type_TRANSFER) { TRANSFER
                  } @else if (item.transaction_features.type_DEBIT) { DEBIT }
                  @else if (item.transaction_features.type_PAYMENT) { PAYMENT }
                  @else { OTHER }
                </td>
                <td>{{ item.probability | percent : "1.0-2" }}</td>
                <td>@if (item.prediction === 1) { Fraude detectado }</td>
              </tr>
              }
            </tbody>
          </table>
          } }
          <br />
          <mat-slide-toggle
            class="mb-3"
            (change)="showResultsToggle('showResults')"
            >Ver Json</mat-slide-toggle
          >
          @if(showResults) {
          <pre class="result">{{ batchResults | json }}</pre>
          }
        </div>
      </section>

      <br />
      <hr />

      <!-- Single Prediction -->
      <section class="mb-4">
        <div class="section-title mb-3">
          <strong>Predicción Individual</strong>
        </div>

        <div class="row align-items-center mb-3">
          <div class="col-sm-4 d-flex justify-content-end align-items-center">
            <label class="col-form-label mb-0 me-2">Datos (JSON)</label>
            <span
              [ngbTooltip]="jsonExample"
              tooltipClass="json-tooltip"
              placement="right"
              class="d-inline-block"
              (click)="copyExample()"
            >
              <i
                class="bi bi-info-circle text-primary"
                style="cursor: pointer"
              ></i>
            </span>
          </div>

          <div class="col-sm-8">
            <textarea
              class="form-control form-input"
              rows="12"
              placeholder="Ingresa la transacción en JSON"
              [(ngModel)]="singleData"
              name="singleData"
              required
            ></textarea>
          </div>
        </div>

        <div class="d-grid mb-3">
          <button
            class="btn btn-outline-secondary w-100"
            (click)="predict(singleData)"
          >
            Predecir
          </button>
        </div>

        <div class="mt-2">
          @if(singleResult?.prediction !== undefined) {
          <h6 class="mb-2">Resultado</h6>
          <table class="table table-bordered text-center">
            <thead>
              <tr>
                <th style="padding: 8px; min-width: 140px">Trans. ID</th>
                <th style="padding: 8px; min-width: 80px">Step</th>
                <th style="padding: 8px; min-width: 100px">Monto</th>
                <th style="padding: 8px; min-width: 80px">Tipo</th>
                <th style="padding: 8px; min-width: 100px">Probabilidad</th>
                <th style="padding: 8px; min-width: 80px">Predicción</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ singleResult.transaction_raw.TransactionID }}</td>
                <td>{{ singleResult.transaction_raw.step }}</td>
                <td>{{ singleResult.transaction_raw.amount }}</td>
                <td>
                  @if (singleResult.transaction_features.type_CASH_OUT) {
                  CASH_OUT } @else if
                  (singleResult.transaction_features.type_TRANSFER) { TRANSFER }
                  @else { OTHER }
                </td>
                <td>{{ singleResult.probability | percent : "1.0-2" }}</td>
                <td>
                  @if (singleResult.prediction === 1) { Fraude detectado } @else
                  { No fraudulenta }
                </td>
              </tr>
            </tbody>
          </table>

          }
          <mat-slide-toggle
            class="mb-3"
            (change)="showResultsToggle('showSingleResult')"
            >Ver Json</mat-slide-toggle
          >
          @if(showSingleResult) {
          <pre class="result">{{ singleResult | json }}</pre>
          }
        </div>
      </section>
    </div>
  </div>
</div>
